:root {
  --font-monteserrat: Montserrat, Helvetica, Arial, sans-serif;
  --border: 1px solid black;
  --font-sans-serif: sans-serif;
}
body{
  height: 200vh;
}
/* NAV BAR */
.nav {
  top: 0;
  z-index: 100;
  background-color: white;
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
}
.nav_name {
  font-family: var(--font-monteserrat);
}
.li-bold {
  font-weight: bolder;
  font-size: 20px;
}
.nav_left {
  position: relative;
  width: 14%;
  justify-content: space-around;
}
.nav_center {
  width: 55%;
}
.mens-li {
  position: relative;
}

/* home screen delevery update */
.shipping-details-update {
  margin-top: 64px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  height: 7vh;
  justify-content: center;
  border: 1px solid var(--line-color);
}
/* {Nav further Hoover Navigation} */

.mens-dropdown,
.womens-dropdown,
.product-dropdown {
  position: absolute;
  top: 4rem;
  left: 22rem;
  background-color: white;
  display: none;
  animation: pulse 300ms 1 ease-in-out;
  z-index: 200;
}
@keyframes pulse {
  0% {
    visibility: 0;
    transform: translateY(50%);
  }
  100% {
    visibility: 1;
    transform: translateY(0);
  }
}
.womens-dropdown {
  left: 50rem;
}
.product-dropdown {
  left: 19.5rem;
  width: 50%;
}
.nav-hoover-further-links {
  display: flex;
}
.nav-hoover-further-links-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
/* hero-banner */
.hero-banner-one {
  height: 100%;
  width: 100%;
  position: relative;
}
.hero-banner-one .img-desktop {
  height: 100%;
  max-height: 610px;
  min-height: 450px;
  object-fit: cover;
  width: 100%;
  display: block;
}
/* hero banner-Two CTA */
.hero-banner-call-to-action {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-banner-call-to-action h1 {
  color: white;
  font-weight: bolder;
  font-size: 40px;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
}
.hero-banner-call-to-action h3 {
  color: white;
  font-weight: lighter;
  font-size: 20px;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
}
.hero-banner-call-to-action {
  height: 25vh;
  width: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.hero-banner-call-to-action-btns {
  width: 100%;
  display: flex;
  justify-content: space-around;
}


.hero-banner-call-to-action-btns .btn-one {
  padding: 0rem 2rem;
  color: black;
  background-color: white;
  font-weight: bolder;
  border-radius: 5rem;
  cursor: pointer;
  text-align: center;
}
.hero-banner-call-to-action-btns .btn-two {
  color: white;
  padding: 0.6rem 2rem;
  font-weight: bolder;
  background-color: gray;
  border-radius: 5rem;
  cursor: pointer;
  text-align: center;
}
.btn {
  padding: 0.5rem 2rem;
  color: black;
  background-color: white;
  font-weight: bolder;
  border-radius: 5rem;
  cursor: pointer;
  text-align: center;
  transition: all 100ms ease-in-out;
}
.btn:hover,
.btn:focus {
  transform: scale(1.0399);
}

.btn-homescreen-grey {
  background-color: var(--gray);
  color: white;

}
.hero-banner-one .img-mobile {
  display: none !important;
}


/* hero banner-two */
.hero-banner-two {
  margin-top: 1.2rem;
  width: 100%;
  position: relative;
}
/* hero-banner-2-CTA */
.hero-two-CTA {
  position: absolute;
  top: 0%;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-two-CTA h1,
.hero-two-CTA h3 {
  color: black;
}

.hero-banner-two .img-desktop {
  height: 100%;
  max-height: 610px;
  min-height: 450px;
  object-fit: cover;
  width: 100%;
  display: block;
}
.hero-banner-two .img-mobile {
  display: none !important;
}
/* banner-resistance CTA */
.hero-banner-three {
  position: relative;
}
.hero-three-one-CTA {
  position: absolute;
  top: 29%;
  left: 13%;
  width: 30%;
}
.hero-three-one-CTA-btn {
  color: white;
  padding: 0.3rem 2rem;
  font-weight: bolder;
  background-color: gray;
  border-radius: 5rem;
  cursor: pointer;
  text-align: center;
}


/* banner-yoga CTA */
.yoga-banner {
  position: relative;
}
.hero-three-two-CTA {
  position: absolute;
  width: 25%;
  height: 20vh;
  top: 27%;
  left: 61%;
}
.hero-three-two-CTA h1 {
  text-align: center;
  color: black;
}
.hero-three-two-CTA-btn {
  color: black;
}

/* footer */
.footer-p-font {
  font-family: var(--font-sans-serif);
  font-size: 15px;
}
.footer {
  height: 7vh;
  display: flex;
  width: 100%;
  padding: 0%;
  margin: 0%;
  display: flex;
  border-top: 1px solid var(--line-color);
  justify-content: space-between;
  align-items: center;
}
.footer-left {
  width: 34vw;
  display: flex;
  justify-content: flex-end;
}
.footer-right {
  width: 13vw;
  display: flex;
  justify-content: space-between;
}
.footer-right .fab,
.footer-right .fas {
  font-size: 22px;
}
.footer-right-container {
  width: 14vw;
}
/* mens new drops */
.mensNewDopsPoster-desktop {
  width: 100%;
  height: 80vh;
  object-fit: cover;
}
.mensNewDopsPoster-mobile {
  display: none;
}
.mensNewDopsPoster {
  position: relative;
}
.mensNewDopsPoster-desc {
  position: absolute;
  top: 45%;
  left: 7.8%;
}
.mensNewDopsPoster-desc h3 {
  margin: 0px;
  font-weight: 700;
  font-family: sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
}
.mensNewDopsPoster-desc h1 {
  color: rgb(0, 0, 0);
  margin: 0px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 700;
}

/* filters */
.filter {
  display: flex;
  justify-content: space-evenly;
}
.filter-heading,
.filter-heading-sort-prices,
.filter-heading-sort-rating,
.filter-heading-sort-delivery,
.filter-heading-sort-priceRange {
  font-family: sans-serif;
  font-weight: lighter;
  cursor: pointer;
  color: rgb(78, 78, 78);
  display: flex;
  justify-content: space-evenly;
}
.filter-heading-sort-prices-container li,
.filter-heading-sort-rating-container li,
.filter-heading-sort-delivery-container li,
.filter-heading-sort-priceRange-contsiner input{
  border: 1px solid var(--line-color);
  display: flex;
  height: 5vh;
  align-items: center;
    justify-content: space-around;
}

.filter-heading-sort-delivery-container,
.filter-heading-sort-rating-container,
.filter-heading-sort-prices-container,
.filter-heading-sort-priceRange-contsiner
{
  animation: filterAnimation 1 300ms ease-in;
  animation-fill-mode: forwards;
}
  @keyframes filterAnimation {
    from {
      visibility: 0;
      transform: translateY(-50%);
    }
    to {
      visibility: 1;
      transform: translateY(0);
    }
  }


@media screen and (max-width: 700px) {
  * {
    overflow: hidden;
  }
  .hero-banner-one {
    height: 100%;
    width: 100%;
  }
  .hero-banner-one .img-desktop {
    display: none !important;
  }
  .hero-banner-one .img-mobile {
    height: 100%;
    height: 700px;
    object-fit: cover;
    width: 100%;
    display: block !important;
  }
  .hero-banner-two .img-mobile {
    height: 100%;
    height: 700px;
    object-fit: cover;
    width: 100%;
    display: block !important;
  }
  .hero-banner-two .img-desktop {
    display: none !important;
  }
  .shipping-details-update {
    display: none;
  }
  .hero-three-one-CTA {
    position: absolute;
    top: 20%;
    left: 25%;
    width: 90%;
    height: 1vh;
   
  }
  .hero-three-one-CTA h1 {
    font-size: 32px;
  }
  .hero-three-two-CTA {
    position: absolute;
    top: 70%;
    left: 25%;
    width: 80%;

    height: 10vh;
  }
  .hero-banner-call-to-action {
    width: 90%;
    height: 14vh;
  
    height: 15vh;
  }
  .hero-banner-call-to-action {
    border: var(--border);
    width: 100%;
    height: 23vh;
  }
  .mensNewDopsPoster-desktop {
    display: none;
  }
  .mensNewDopsPoster-mobile {
    margin-top: 65px;
    display: block;
    width: 100%;
    object-fit: cover;
    height: 15rem;
  }
  .mensNewDopsPoster-desc {
    text-align: center;
    top: 70%;
    left: 18%;
  }
  .mensNewDopsPoster-desc h3 {
    margin: 0px;
    font-weight: 700;
    font-family: sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    color: white;
  }
  .mensNewDopsPoster-desc h1 {
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    margin: 0px;
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: 700;
    color: white;
  }
}

