:root {
  --font-monteserrat: Montserrat, Helvetica, Arial, sans-serif;
  --border: 0.0625rem solid black;
  --font-sans-serif: sans-serif;
}

*{
padding: 0%;
margin: 0%;
box-sizing: border-box;
}
a{
  text-decoration: none;
  color: black;
}
/* body{
  height: 110vh;
} */
/* NAV BAR */
.nav {
  top: 0;
  z-index: 100;
  background-color: var(--light);
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
}
.nav_name {
  font-family: var(--font-monteserrat);
}
.li-bold {
  font-weight: bolder;
  font-size: 1.3rem;
}
.nav_left {
  position: relative;
  width: 14%;
  justify-content: space-around;
}
.nav_right{
  /* border: var(--border); */
  width: 17%;
  justify-content: space-between;
}
.nav_center {
  width: 55%;
}
.mens-li {
  position: relative;
}
.badge-skyBlue span{
  left: 1.2rem;
  top: 0.4em;

}

/* home screen delevery update */
.shipping-details-update {
  margin-top: 4rem;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  height: 7vh;
  justify-content: center;
  border: 0.0625rem solid var(--line-color);
}

/* {Nav further Hoover Navigation} */
.positionRelative{
  position: relative;
}

.product-dropdown {
  position: absolute;
  top: 4rem;
  left: 22rem;
  background-color:var(--light);
  display: none;
  animation: pulse 300ms 1 ease-in-out;
}
@keyframes pulse {
  0% {
    visibility: 0;
    transform: translateY(50%);
  }
  100% {
    visibility: 1;
    transform: translateY(0);
  }
}
.arrow-up{
  margin-top: -1.4rem;
}
.product-dropdown {
  left: 28rem;
  width: 30%;
  height: 35vh;
}
.nav-hoover-further-links {
  display: flex;
}
.nav-hoover-further-links-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
/* hero-banner */
.hero-banner-one {
  height: 100%;
  width: 100%;
  position: relative;
}
.hero-banner-one .img-desktop {
  height: 100%;
  max-height: 38.125rem;
  min-height: 28.125rem;
  object-fit: cover;
  width: 100%;
  display: block;
}
/* hero banner-Two CTA */
.hero-banner-call-to-action {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-banner-call-to-action h1 {
  color: var(--light);
  font-weight: bolder;
  font-size: 2.5rem;
  font-family: var(--font-monteserrat);
}
.hero-banner-call-to-action h3 {
  color: var(--light);
  font-weight: lighter;
  font-size: 1.25rem;
  font-family: var(--font-monteserrat)
}
.hero-banner-call-to-action {
  height: 25vh;
  width: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.hero-banner-call-to-action-btns {
  width: 100%;
  display: flex;
  justify-content: space-around;
}


.hero-banner-call-to-action-btns .btn-one {
  padding: 0rem 2rem;
  color: var(--dark);
  background-color: var(--light);
  font-weight: bolder;
  border-radius: 5rem;
  cursor: pointer;
  text-align: center;
}
.hero-banner-call-to-action-btns .btn-two {
  color: var(--light);;
  padding: 0.6rem 2rem;
  font-weight: bolder;
  background-color:var(--gray);
  border-radius: 5rem;
  cursor: pointer;
  text-align: center;
}
.btn {
  padding: 0.5rem 2rem;
  color: var(--dark);
  background-color: var(--light);
  font-weight: bolder;
  border-radius: 5rem;
  cursor: pointer;
  text-align: center;
  transition: all 100ms ease-in-out;
}
.btn:hover,
.btn:focus {
  transform: scale(1.0399);
}

.btn-homescreen-grey {
  background-color: var(--gray);
  color: var(--light);

}
.hero-banner-one .img-mobile {
  display: none !important;
}


/* hero banner-two */
.hero-banner-two {
  margin-top: 1.2rem;
  width: 100%;
  position: relative;
}
/* hero-banner-2-CTA */
.hero-two-CTA {
  position: absolute;
  top: 0%;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-two-CTA h1,
.hero-two-CTA h3 {
  color: var(--dark);
}

.hero-banner-two .img-desktop {
  height: 100%;
  max-height: 36.25rem;
  min-height: 28.125rem;
  object-fit: cover;
  width: 100%;
  display: block;
}
.hero-banner-two .img-mobile {
  display: none !important;
}
/* banner-resistance CTA */
.hero-banner-three {
  position: relative;
}
.hero-three-one-CTA {
  position: absolute;
  top: 29%;
  left: 13%;
  width: 30%;
}
.hero-three-one-CTA-btn {
  color: var(--light);
  padding: 0.3rem 2rem;
  font-weight: bolder;
  background-color: var(--gray);
  border-radius: 5rem;
  cursor: pointer;
  text-align: center;
}


/* banner-yoga CTA */
.yoga-banner {
  position: relative;
}
.hero-three-two-CTA {
  position: absolute;
  width: 25%;
  height: 20vh;
  top: 27%;
  left: 61%;
}
.hero-three-two-CTA h1 {
  text-align: center;
  color: var(--dark);
}
.hero-three-two-CTA-btn {
  color: var(--dark);
}
/* gym accessories- hero banner four */
.hero-banner-four{
  position: relative;
  height: 81vh;
}

.hero-four-CTA{
  position: absolute;
  top: 70%;
  height: 20vh;
}

.gym-accessories-desktop{
  width: 100%;
  object-fit: cover;
  height: 81vh;
  filter: brightness(50%);
}
.gym-accessories-mobile{
  display: none !important
}
.hero-four-CTA .btn{
  width: 12rem;
}
/* footer */
.footer-bottom-p-font{
  font-size: 0.92rem;
}


/* mens new drops */
.mensNewDopsPoster-desktop {
  width: 100%;
  height: 80vh;
  object-fit: cover;
}
.mensNewDopsPoster-mobile {
  display: none;
}
.mensNewDopsPoster {
  position: relative;
}
.mensNewDopsPoster-desc,.womensNewDropPoster-desc {
  position: absolute;
  top: 45%;
  left: 7.8%;
}
.mensNewDopsPoster-desc h3,.womensNewDropPoster-desc h3{
  margin: 0px;
  font-weight: 700;
  font-family: var(--font-sans-serif);
  font-size: 1.4rem;
  text-transform: uppercase;
}
.mensNewDopsPoster-desc h1,.womensNewDropPoster-desc h1 {
  color: var(--dark);
  margin: 0px;
  font-family: var(--font-sans-serif);
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 700;
}

/* filters */
.filter {
  display: flex;
  justify-content: space-evenly;
}
.filter-heading,
.filter-heading-sort-prices,
.filter-heading-sort-rating,
.filter-heading-sort-delivery,
.filter-heading-sort-priceRange {
  font-family: var(--font-sans-serif);
  font-weight: lighter;
  cursor: pointer;
  color: rgb(78, 78, 78);
  display: flex;
  justify-content: space-evenly;
}

.filter-heading-sort-prices{
  position: relative;
}
.filter-heading-sort-rating{
  position: relative;
}
.filter-heading-sort-delivery{
  position: relative;
}
.filter-heading-sort-priceRange{
  z-index: 399;
  position: relative;
}
.filter-heading-sort-prices-container {
  z-index: 399;
  position: absolute;
}
.filter-heading-sort-rating-container {
  z-index: 399;
  position: absolute;
}
.filter-heading-sort-delivery-container{
  z-index: 399;
  position: absolute;
} 
.filter-heading-sort-priceRange-contsiner {
  position: absolute;
  z-index: 399;
}
.filter-heading-sort-priceRange-sub-contsiner{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.filter-heading-sort-prices-container li,
.filter-heading-sort-rating-container li,
.filter-heading-sort-delivery-container li
{
  border: 0.0625rem solid var(--line-color);
  display: flex;
  height: 5vh;
  align-items: center;
    justify-content: space-around;
    background-color: var(--light);
    padding: 0px 1rem;

    
}

.filter-heading-sort-delivery-container,
.filter-heading-sort-rating-container,
.filter-heading-sort-prices-container,
.filter-heading-sort-priceRange-contsiner
{
  animation: filterAnimation 1 300ms ease-in;
  animation-fill-mode: forwards;
}
  @keyframes filterAnimation {
    from {
      visibility: 0;
      transform: translateY(-50%);
    }
    to {
      visibility: 1;
      transform: translateY(0);
    }
  }

  /* Womens new Drop */
  .womensNewReleases{
    position: relative;
  }
  .womensNewReleases-desktop{
   width: 100%;
   object-fit: cover;
   height: 32.5rem;;
  }
  .womensNewReleases-mobile{
    display: none !important
  }
  .womensNewDropPoster-desc h3,.womensNewDropPoster-desc h1{
    color: var(--light);
  }

  /* Home Workout */
  .page-desc{
    height: 13rem;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .page-desc-content{
    width: 20rem;
    height: 4.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 9rem;
  }
  .page-desc-content h3{
    margin: 0px;
    font-weight: 700;
    font-family: var(--font-sans-serif);
    font-size: 1.2rem;
    text-transform: uppercase;
  }
  .page-desc-content h1{
    color: var(--dark);
    margin: 0px;
    font-family: var(--font-sans-serif);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
  }

 /* Resistance training */
 .resisitance-training-desc{
  left: 33%;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

 

@media screen and (max-width: 43.25rem) {
  /* * {
  overflow-x: hidden;
  } */
  .product-dropdown {
    left: 8rem;
    margin-top: 0.5rem;
    width: 50%;
    height: 35vh;
  }
  .hero-banner-one {
    height: 100%;
    width: 100%;
  }
  .hero-banner-one .img-desktop {
    display: none !important;
  }
  .hero-banner-one .img-mobile {
    height: 100%;
    height: 43.75rem;
    object-fit: cover;
    width: 100%;
    display: block !important;
  }
  .hero-banner-two .img-mobile {
    height: 100%;
    height: 43.75rme;
    object-fit: cover;
    width: 100%;
    display: block !important;
  }
  .hero-banner-two .img-desktop {
    display: none !important;
  }
  .shipping-details-update {
    display: none;
  }
  .hero-three-one-CTA {
    position: absolute;
    top: 20%;
    left: 25%;
    width: 90%;
    height: 1vh;
   
  }
  .hero-three-one-CTA h1 {
    font-size: 2rem;
  }
  .hero-three-two-CTA {
    position: absolute;
    top: 70%;
    left: 25%;
    width: 80%;

    height: 10vh;
  }
  .hero-banner-call-to-action {
    width: 90%;
    height: 14vh;
  
    height: 15vh;
  }
  .hero-banner-call-to-action {
    width: 100%;
    height: 23vh;
  }
  /* Home Screen image four */
  /* gym accessories- hero banner four */
.hero-banner-four{
  position: relative;
}

.hero-four-CTA{
  position: absolute;
  top: 70%;
  height: 20vh;
}

.gym-accessories-desktop{
  display: none !important;
 
}
.gym-accessories-mobile{
  height: 80vh;
  display: block !important;
  margin-top: 0.5625rem;
  object-fit: cover;
  width: 100%;
  filter: brightness(90%);
}
  /* screen two mens new drop */
/*  */
  .mensNewDopsPoster-desktop {
    display: none;
  }
  .mensNewDopsPoster-mobile {
    margin-top: 4rem;
    display: block;
    width: 100%;
    object-fit: cover;
    height: 15rem;
  }


  .mensNewDopsPoster-desc,.womensNewDropPoster-desc {
    text-align: center;
    top: 70%;
    left: 27%;
  }
  .mensNewDopsPoster-desc h3,.womensNewDropPoster-desc h3 {
    margin: 0px;
    font-weight: 700;
    font-family: var(--font-sans-serif);
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--light);
  }
  .mensNewDopsPoster-desc h1,.womensNewDropPoster-desc h1 {
    font-family:  var(--font-sans-serif);
    color: var(--dark);
    margin: 0px;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: var(--light);
    text-align: center;
  }
  .womensNewReleases-desktop{
    display: none !important;
  }
  .womensNewReleases-mobile{
    display: block !important;
    width: 100%;
    margin-top: 4rem;
  height: 15rem;
  object-fit: cover;
  }
  /* home workout */
  
  .page-desc{
    margin-top: 4.2rem;
    height: 10rem;
    background-color: var(--light);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .page-desc-content{
    width: 20rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2rem;
  }
  .page-desc-content h3{
    margin: 0px;
    font-weight: 700;
    font-family:  var(--font-sans-serif);
    font-size: 1rem;
    text-transform: uppercase;
  }
  .page-desc-content h1{
    color: var(--dark);
    margin: 0px;
    font-family: var(--font-sans-serif);
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
  }
  .resisitance-training-poster-mobile{
    display: block !important;
    width: 100%;
    margin-top: 4rem;
height: 24rem !important;
    object-fit: cover;
    width: 100%;
  
  }
  .resisitance-training-desc{
    left: 22%;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }


}

